<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src= 'https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js'></script>
</head>

<body>
<script>
    microsoftTeams.initialize();
</script>

<div class="w3-container">

    <form class="w3-panel w3-card-4" th:action="@{/{id}}" width="150">
        <h1>Enter ToDo id:</h1>
        <hr/>

        <input type="number" class="w3-input" th:name="id" min="0" max="200" value="0"/><br/>
        <button class="w3-button w3-black" type="submit">Submit</button>
    </form>
</div>

</body>
</html>